html {
  /* rem em*/
  /* em相对于父元素的font-size
  rem相对于根元素的font-size */
  font-size: 62.5%;
}

html body #root .App {
  min-height: 100vh;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  position: absolute;
}
::-webkit-scrollbar-thumb {
  background-color: #1890ff;
}
::-webkit-scrollbar-track {
  background-color: #ddd;
}
